<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.majdh.homework4">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Nobar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotesActivity"
            android:label="@string/notes_title"
            android:theme="@style/withBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Nobar" />
        <activity
            android:name=".newNoteActivity"
            android:theme="@style/Nobar" />
        <activity
            android:name=".EditNoteActivity"
            android:theme="@style/Nobar" />
        <activity
            android:name=".DonateActivity"
            android:theme="@style/Nobar" />
    </application>

</manifest>